.experiencia {
  max-width: 120rem;

  padding: 4rem 2rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10rem;
}

.experiencia .subtitulo {
  color: #e0e0e0;
  padding-top: 10rem;
}

.experiencia-txt {
  font-size: 2.4rem;
  line-height: 1.33;

  margin-bottom: 6rem;

  max-width: 40ch;
}

.experiencia-txt strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;

  padding: 2rem;
  margin-bottom: 2rem;

  background: #f5f5f5;

  border-radius: 0.4rem;
  position: relative;
}
.empresa::before {
  content: '';

  display: block;

  width: 0.4rem;
  height: 2rem;

  background: linear-gradient(#96c, #939);

  position: absolute;
  top: 2rem;
  left: -0.4rem;
}

.empresa-ano {
  position: absolute;
  top: 2.2rem;
  left: -10rem;

  color: #525252;
  font-size: 1.4rem;
  text-align: right;

  width: 8rem;
}

.empresa-titulo {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.1;
}

.empresa-txt {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 1.4rem;
  line-height: 1.4;

  border-radius: 0.4rem;

  background: #fff;

  padding: 0.5rem 1rem;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .experiencia .subtitulo {
    color: #141414;
    padding: 0;
  }

  .experiencia-txt {
    font-size: 2rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
