.formacao {
  background: #141414;
  color: #fff;
}

.formacao-container {
  max-width: 120rem;

  padding: 12rem 2rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10rem;

  position: relative;
}

.formacao-container::after {
  content: '';

  display: block;

  width: 13rem;
  height: 10rem;

  background: url('../img/detalhe.svg') no-repeat center;

  position: absolute;
  bottom: -5rem;
  left: 2rem;
}

.formacao .subtitulo {
  color: #000;
  max-width: 5ch;
}

.formacao-txt {
  font-size: 2.4rem;
  line-height: 1.33;
  color: #a3a3a3;

  max-width: 40ch;

  margin-bottom: 6rem;
}

.formacao-txt strong {
  color: #fff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  margin-bottom: 6rem;
}

.faculdade {
  display: flex;
  flex: 1;
  flex-direction: column;

  background: #000;

  padding: 2rem;

  border-radius: 0.4rem;
}

.faculdade-tipo {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #a3a3a3;

  margin-bottom: 1rem;
}

.faculdade-curso {
  font-size: 1.8rem;
  line-height: 1.4;

  margin-bottom: 4rem;
  position: relative;

  flex: 1;
}

.faculdade-curso::before {
  content: '';

  display: block;

  width: 0.4rem;
  height: 2rem;

  background: linear-gradient(#96c, #939);

  position: absolute;
  left: -2.4rem;
}

.faculdade-instituicao {
  font-size: 1.8rem;
  color: #a3a3a3;
}

.formacao-extra h3 {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;

  margin-bottom: 3rem;

  position: relative;
}

.formacao-extra h3::before {
  content: '';

  display: block;

  height: 2.4rem;
  width: 2.4rem;
  background: url(../img/idiomas.svg) no-repeat center center;

  position: absolute;
  left: -3.6rem;
  top: -0.4rem;
}

.formacao-extra {
  font-size: 1.8rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.formacao-extra span {
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    gap: 4rem;

    padding: 6rem 2rem;
  }

  .formacao .subtitulo {
    color: #fff;
  }

  .formacao-txt {
    font-size: 2rem;
  }

  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 1rem;
  }
}
