html {
  font-size: 62.5%;
}

body {
  font-family: 'Fira Sans', Arial, sans-serif;
  color: #141414;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 12.8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;

  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 4.8rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
