.header {
  max-width: 120rem;

  padding: 4rem 2rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.header-menu a {
  font-size: 1.8rem;
  line-height: 1.3;

  padding: 1rem 2rem;

  text-decoration: none;
  color: #141414;

  display: block;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 4rem;

    padding: 2rem;
  }
  .header a {
    background: #f5f5f5;

    border-radius: 0.4rem;
  }
}
