@import './header.css';
@import './global.css';
@import './intro.css';
@import './experiencia.css';
@import './formacao.css';
@import './footer.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}
